html {
  overflow-y: scroll;
}

body {
  font-family: sans-serif;
  background: rgb(212,212,223);
  background: radial-gradient(circle, rgba(212,212,223,1) 4%, rgba(144,138,241,0.227328431372549) 77%);
  width: 100pw;
  height: 100ph;

}

div.ChartContainer{
  background-color: pink;
  position:absolute;
  left: 30%;
  align-content: center;
  overflow: visible;
}

div.ChartContainer h1{
  font-size: 40px;
  text-align: center;
  width: 600px;
}

div.ChartContainer ol li {
  list-style-type: armenian;
  display: flex;
  width: 590px;
  flex-direction: row;

}

div.ChartContainer ol li p {
  margin-right: 20px;
  width: 600px;
}

div.ChartContainer ol li div.image{
  margin-left: 20px;
  float: right;

}

div.ChartContainer ol li div.image img{
  float: right;
  margin-right: 10px;
}
